.container{
    font-size: 40px;
    width: 100%;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px 20px;
}
.d1{
    background-color: blue;
}
.d2{
    background-color: red;
}
.d3{
    background-color: yellow
}
.d4{
    background-color:brown;
}
.d5{
    background-color:chocolate;
}